In [7]:
#pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\javie\anaconda3\lib\site-packages (1.3.4)
Collecting pyarrow
  Downloading pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\javie\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\javie\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\javie\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\javie\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:

#df.to_parquet("data_clean/eurobarometer.parquet.gzip", compression="gzip")

#%%

In [5]:
data = pd.read_parquet("data_clean/eurobarometer.parquet.gzip")
data.head()

,year,ebid,studid,respidza,edid,respid,intdate_start,intdate_end,intdate,intday,...,val_8,val_9,val_10,val_11,val_12,val_13,val_14,lr,voteprob_sc,voteprob_nat_sc
0,2004.0,610.0,4056.0,105232.0,1.0.1 (2012-03-30),1.0,20040220.0,20040328.0,21.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,1.0
1,2004.0,610.0,4056.0,105233.0,1.0.1 (2012-03-30),2.0,20040220.0,20040328.0,25.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,1.0
2,2004.0,610.0,4056.0,105177.0,1.0.1 (2012-03-30),3.0,20040220.0,20040328.0,23.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,10.0,10.0
3,2004.0,610.0,4056.0,105176.0,1.0.1 (2012-03-30),4.0,20040220.0,20040328.0,24.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,1.0
4,2004.0,610.0,4056.0,105239.0,1.0.1 (2012-03-30),5.0,20040220.0,20040328.0,24.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,10.0,10.0

In [6]:
data

,year,ebid,studid,respidza,edid,respid,intdate_start,intdate_end,intdate,intday,...,val_8,val_9,val_10,val_11,val_12,val_13,val_14,lr,voteprob_sc,voteprob_nat_sc
0,2004.0,610.0,4056.0,105232.0,1.0.1 (2012-03-30),1.0,20040220.0,20040328.0,21.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,1.0
1,2004.0,610.0,4056.0,105233.0,1.0.1 (2012-03-30),2.0,20040220.0,20040328.0,25.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,1.0
2,2004.0,610.0,4056.0,105177.0,1.0.1 (2012-03-30),3.0,20040220.0,20040328.0,23.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,10.0,10.0
3,2004.0,610.0,4056.0,105176.0,1.0.1 (2012-03-30),4.0,20040220.0,20040328.0,24.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,1.0
4,2004.0,610.0,4056.0,105239.0,1.0.1 (2012-03-30),5.0,20040220.0,20040328.0,24.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135982,2021.0,953.0,7783.0,NaN,,390037221.0,NaN,NaN,25.0,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,NaN,NaN
1135983,2021.0,953.0,7783.0,NaN,,390037222.0,NaN,NaN,25.0,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,5.0,NaN,NaN
1135984,2021.0,953.0,7783.0,NaN,,390037223.0,NaN,NaN,25.0,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,NaN,NaN
1135985,2021.0,953.0,7783.0,NaN,,390037224.0,NaN,NaN,26.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,NaN,NaN
1135986,2021.0,953.0,7783.0,NaN,,390037225.0,NaN,NaN,26.0,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,NaN,NaN